@import "tailwindcss";

.active {
  color: #015939;
  transition: 0.5s;
}

.hero .overlay {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

@theme {
  --color-header: #e3e3e3;
  --color-darkergrey: #bfbfbf;
}
